seed=12
save_path=./results/sls_fusion_kitti_train_set_STEREO_LiDAR_8_beams_depthmap
dataset=kitti
datapath=../../dataset/kitti/training
split_train=../../dataset/kitti/ImageSets/train.txt # trainval.txt for submission 
split_val=../../dataset/kitti/ImageSets/subval.txt
btrain=4
bval=4
workers=8 # following machine
depth_gth=sparse 
# depth_gth=dense # dense for 11 frame lidar  
arch=SLSFusion
maxdisp=192
maxdepth=80
down=2
epochs=75
checkpoint_interval=1 #To understand
generate_depth_map=True
data_tag=trainval
pretrain=/media/zelt/Données/SLS-Fusion/src/training/results/sls_fusion_kitti_train_set_stereo_lidar_8beams/08-10-2022_17-14-39/checkpoint_74.pth.tar
