seed=12

#
# set path to save results
#
save_path=./results/sls_fusion_kitti_train_set_stereo_lidar_8beams
dataset=kitti
datapath=../../dataset/kitti/training
split_train=../../dataset/kitti/ImageSets/train.txt 
# split_train=../../dataset/kitti/ImageSets/trainval.txt # for submission (train on train+val)
split_val=../../dataset/kitti/ImageSets/subval.txt
btrain=4
bval=4
eval_interval=10
workers=8 # following machine
depth_gth=sparse # dense for 11 frame lidar 
# depth_gth=dense
arch=SLSFusion
maxdisp=192
maxdepth=80
down=2
epochs=75
checkpoint_interval=1 #To understand
generate_depth_map=False
data_list=../../dataset/Kitti/ImageSets/trainval.txt

pretrain=/media/zelt/Données/KITTI/test_algo/save_weight_FDNet/results/fdn_sceneflow_train_set/checkpoint_9.pth.tar
