seed=12
save_path=./results/sls_fusion_sceneflow
dataset=sceneflow
datapath=../../dataset/sceneflow
btrain=4
bval=4
workers=8 # following machine
arch=SLSFusion
maxdisp=192
maxdepth=80
down=2
pretrain=None
epochs=300
checkpoint_interval=1 #To understand
generate_depth_map=False
data_list=../../dataset/Kitti/ImageSets/trainval.txt